body {
  background-color: #e3e7f1;
}

hr {
  background-color: #e3e7f1;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1,h3 {
  color: #8186d5;
}

.myPicture {
  width:200px;
  height:200px;
}
